# Eclipse
*.pydevproject
.project
.metadata
.gradle
bin/
tmp/
target/
*.tmp
*.bak
*~
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
*.log

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

**/.directory

# IntellIJ stuff
*.iml
/.idea/
