[submodule "Shared"]
	path = Shared
	url = https://github.com/OSGP/Shared.git
	branch = feat-signing-server
[submodule "Protocol-Adapter-OSLP"]
	path = Protocol-Adapter-OSLP
	url = https://github.com/OSGP/Protocol-Adapter-OSLP.git
	branch = feat-signing-server
[submodule "Platform"]
	path = Platform
	url = https://github.com/OSGP/Platform.git
	branch = development
