[submodule "Shared"]
	path = Shared
	url = https://github.com/OSGP/Shared.git
	branch = bug/FLEX-4396
[submodule "Protocol-Adapter-OSLP"]
	path = Protocol-Adapter-OSLP
	url = https://github.com/OSGP/Protocol-Adapter-OSLP.git
	branch = bug/FLEX-4396
[submodule "Platform"]
	path = Platform
	url = https://github.com/OSGP/Platform.git
	branch = bug/FLEX-4396
[submodule "Protocol-Adapter-DLMS"]
	path = Protocol-Adapter-DLMS
	url = https://github.com/OSGP/Protocol-Adapter-DLMS.git
	branch = bug/FLEX-4396
[submodule "Protocol-Adapter-IEC61850"]
	path = Protocol-Adapter-IEC61850
	url = https://github.com/OSGP/Protocol-Adapter-IEC61850.git
	branch = bug/FLEX-4396
