#################
## Eclipse
#################

*.pydevproject
.project
.metadata
.gradle
bin/
tmp/
target/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

#################
## IntelliJ
#################
.idea
protocol-adapter-iec61850.iml
osgp-core-db-api-iec61850/osgp-core-db-api-iec61850.iml
osgp-iec61850/osgp-iec61850.iml
osgp-protocol-adapter-iec61850/osgp-protocol-adapter-iec61850.iml
parent-pa-iec61850/parent-pa-iec61850.iml
protocol-simulator-iec61850/osgp-protocol-simulator-iec61850.iml

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

#Spring MVC webapp
.springBeans

# Eclipse Checkstyle plugin
.checkstyle
