<?xml version="1.0" encoding="UTF-8"?>

<!--
SPDX-FileCopyrightText: Contributors to the GXF project

SPDX-License-Identifier: Apache-2.0
-->

<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
  xmlns:sws="http://www.springframework.org/schema/web-services"
  xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/data/jpa
    http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
    http://www.springframework.org/schema/web-services
    http://www.springframework.org/schema/web-services/web-services.xsd">

  <sws:annotation-driven />

  <sws:interceptors>
    <ref bean="x509CertificateSubjectCnEndpointInterceptor" />
    <ref bean="organisationIdentificationInterceptor" />
    <ref bean="messagePriorityInterceptor"/>
    <ref bean="organisationIdentificationInCertificateCnEndpointInterceptor" />
    <ref bean="payloadValidatingInterceptor" />
    <ref bean="webServiceMonitorInterceptor" />
  </sws:interceptors>

</beans>