<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [${HOSTNAME}] [%thread] %level %logger{36}@%method:%line - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.springframework" level="ERROR" />
  <logger name="org.apache.http.wire" level="ERROR" />
  <logger name="cucumber.runtime.java.spring" level="ERROR" />
  <logger name="com.zaxxer.hikari" level="ERROR" />
  <logger name="org.reflections.Reflections" level="ERROR" />

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
  
</configuration>
