<?xml version="1.0" encoding="UTF-8"?>

<!--
SPDX-FileCopyrightText: Contributors to the GXF project

SPDX-License-Identifier: Apache-2.0
-->

<configuration>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [${HOSTNAME}] [%thread] %level %logger{36}@%method:%line - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.springframework.ws.server.MessageTracing" level="TRACE" additivity="false">
    <appender-ref ref="CONSOLE"/>
  </logger>

  <logger name="org.springframework.ws.client.MessageTracing" level="TRACE" additivity="false">
    <appender-ref ref="CONSOLE"/>
  </logger>

  <root level="DEBUG" additivity="false">
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>
