<?xml version="1.0" encoding="UTF-8"?>

<!--
SPDX-FileCopyrightText: Contributors to the GXF project

SPDX-License-Identifier: Apache-2.0
-->

<beans xmlns="http://www.springframework.org/schema/beans" 
  xmlns:mvc="http://www.springframework.org/schema/mvc"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd">

  <!--
    Configures the location of static resources such as css files.
    Requires Spring Framework 3.0 or higher.
  -->
  <mvc:resources mapping="/static/**" location="/static/"/>

  <!--
    Ensures that dispatcher servlet can be mapped to '/' and static resources
    are still served by the containers default servlet. Requires Spring Framework
    3.0 or higher.
  -->
  <mvc:default-servlet-handler/>

</beans>