<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:sws="http://www.springframework.org/schema/web-services"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/data/jpa
		http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
		http://www.springframework.org/schema/web-services
		http://www.springframework.org/schema/web-services/web-services-2.0.xsd">

    <sws:annotation-driven/>

	<sws:static-wsdl id="SmartMeteringInstallation" location="/WEB-INF/wsdl/smartmetering/SmartMeteringInstallation.wsdl"/>
 	<sws:static-wsdl id="SmartMeteringManagement" location="/WEB-INF/wsdl/smartmetering/SmartMeteringManagement.wsdl"/>
 	<sws:static-wsdl id="SmartMeteringBundle" location="/WEB-INF/wsdl/smartmetering/SmartMeteringBundle.wsdl"/>
 	<sws:static-wsdl id="SmartMeteringMonitoring" location="/WEB-INF/wsdl/smartmetering/SmartMeteringMonitoring.wsdl"/>
 	<sws:static-wsdl id="SmartMeteringAdhoc" location="/WEB-INF/wsdl/smartmetering/SmartMeteringAdhoc.wsdl"/>
 	<sws:static-wsdl id="SmartMeteringConfiguration" location="/WEB-INF/wsdl/smartmetering/SmartMeteringConfiguration.wsdl"/>

 	<bean id="common" class="org.springframework.xml.xsd.SimpleXsdSchema">
        <property name="xsd" value="/WEB-INF/wsdl/smartmetering/schemas/common.xsd" />
    </bean>
    
    <bean id="sm-installation" class="org.springframework.xml.xsd.SimpleXsdSchema">
        <property name="xsd" value="/WEB-INF/wsdl/smartmetering/schemas/sm-installation.xsd" />
    </bean>
    <bean id="sm-management" class="org.springframework.xml.xsd.SimpleXsdSchema">
        <property name="xsd" value="/WEB-INF/wsdl/smartmetering/schemas/sm-management.xsd" />
    </bean>
    <bean id="sm-bundle" class="org.springframework.xml.xsd.SimpleXsdSchema">
        <property name="xsd" value="/WEB-INF/wsdl/smartmetering/schemas/sm-bundle.xsd" />
    </bean>
    <bean id="sm-monitoring" class="org.springframework.xml.xsd.SimpleXsdSchema">
        <property name="xsd" value="/WEB-INF/wsdl/smartmetering/schemas/sm-monitoring.xsd" />
    </bean>
    <bean id="sm-adhoc" class="org.springframework.xml.xsd.SimpleXsdSchema">
        <property name="xsd" value="/WEB-INF/wsdl/smartmetering/schemas/sm-adhoc.xsd" />
    </bean>
    <bean id="sm-configuration" class="org.springframework.xml.xsd.SimpleXsdSchema">
        <property name="xsd" value="/WEB-INF/wsdl/smartmetering/schemas/sm-configuration.xsd" />
    </bean>
    
    <sws:interceptors>
        <ref bean="x509CertificateSubjectCnEndpointInterceptor"/>
        <ref bean="organisationIdentificationInterceptor"/>
        <ref bean="messagePriorityInterceptor"/>
        <ref bean="scheduleTimeInterceptor"/>
        <ref bean="organisationIdentificationInCertificateCnEndpointInterceptor"/>
        <ref bean="payloadValidatingInterceptor"/>
    </sws:interceptors>
    
</beans>